/*Estilos gerais*/
body {
  /*Como a maioria do site usará arial, definimos no body a fonte como  arial, senão tiver arial, vai ter a helvetica e se não tiver está o browser colocará qualquer fonte que não tenha serif*/
  font-family: Arial, Helvetica, sans-serif;
}
p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
  line-height: 20px;
}
/*header*/
/*
como o nav dentro do header é um elemento flutuante, a logica seria o header não ter altura nenhum, mas isso não acontece pq,
mesmo que nav seja um elemento flutuante, os elemento dentro dele não são, contando tambem com as configuraçoes de padding. E é isso
que faz com que o header tenha uma altura.
*/
.header {
  /*Faz o menu ficar fixo,ou seja, não subira junto com o scroll */
  position: fixed;
  /*Para garantir que o menu nunca saía do topo*/
  top: 0;
  /*Vai ter 100% do tamanho do body, que eu acho que é 1400px*/
  width: 100%;
  background-color: #fec63e;
  /*Tira a logo e o menu das bordas*/
  padding: 15px 0;
  z-index: 10;
}
.header_menu {
  text-align: right;
}
.header_menu ul li {
  display: inline-block;
  margin-left: 20px;
  /*cada li, vai abaixar 20px. é aqui que "centraliza" o menu*/
  margin-top: 20px;
}
.header_menu ul li a {
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 20px;
  font-size: 14px;
  /*esse paddding é usado para aumentar um pouco a area de clique do link. aumenta para cima e para baixo, mas aumenta somente o padding do link*/
  padding: 10px 0;
}
.header_menu ul li a:hover {
  color: white;
}
/*introdução*/
.introducao {
  width: 100%;
  background-image: url("../img/bg.jpg");
  background-size: cover;
  margin-top: 92px;
  height: 380px;
  text-align: center;
  padding-top: 80px;
}
/*vai falar somente com o h1 de dentro do introduçao*/
.introducao h1 {
  font-size: 48px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}
/*isso se refere ao bloquote
o paragrafo, fica quebrando linha, pois ele está dentro do bloquote e o bloquote tem um tamanho definido de 360px, assim o paragrafo vai ter que se encaixar dentro desta caixa*/
.quote-externo {
  max-width: 360px;
  margin: 0 auto;
  color: white;
  margin-bottom: 40px;
}
/*Vai falar diretamente com p que está dentro do quote-externo*/
.quote-externo p {
  font-style: italic;
}
.quote-externo cite {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.1em;
}
/*
isso meio que simula uma tag html, só que por meio do css
e como o nome diz, vai ficar atras do p(serve para qualquer tag).*/
/*por padrao elementos after e before são inline, por isso a definimos como block*/

.quote-externo p:before,
.quote-externo p:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: white;
  margin: 14px auto 10px auto;
}
/* A margin top, não funcionou aqui, pq <A> é inline*/
.btn {
  border: 3px solid #fec63e;
  padding: 10px 30px;
  color: #fec63e;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
}
.btn:hover {
  color: white;
  border-color: white;
}
/*Produtos*/
.produtos {
  padding: 60px 0;
}
.subtitulo {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  letter-spacing: 0.1em;
  color: #000;
  text-transform: uppercase;
  text-align: center;
}
.subtitulo::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: black;
  margin: 8px auto;
  margin-bottom: 40px;
}
.produtos_lista li {
  background-color: #fec63e;
  text-align: center;
}

.produtos_lista li h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  /*Eu acho que não é usado o padding aqui, pq queremos mover o h3 inteiro, para distanciar ele de outro elemento e não afastar ele em relação a borda. Tecnicamente tem o mesmo efeito, nesse caso aqui, mas seria errado.*/

  margin-top: 20px;
}
.produtos_lista li h3:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: black;
  margin: 2px auto;
}
.produtos_icone {
  background-color: black;
  padding: 20px;
}
/*aqui ja utilizamos o padding para afastar o elemento p das bordas*/
.produtos_lista li p {
  padding: 10px 20px 20px 20px;
}
.call {
  clear: both;
  padding-top: 40px;
  text-align: center;
}
.call p {
  margin-bottom: 20px;
}
.btn-preto:hover {
  color: black;
  border-color: black;
}
