.interna_sobre {
  background: url("../img/bg-sobre.jpg") no-repeat center;
  background-size: cover;
}
.missao_sobre {
  padding-top: 60px;
}
/*interessante que ele nao coloca um width pro p, ele usa  o padding pra controlar ele ou tambem como nos produtos_lista, ele defini um tamanho pro li e o p vai ter que se encaixar .*/
.missao_sobre p {
  font-size: 18px;
  line-height: 25px;
  /*o tamanho da margem vai ser do tamanho da letra*/
  margin-bottom: 1em;
  padding-right: 60px;
}
.missao_sobre ul li {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 30px;
}

.foto-equipe {
  padding-top: 20px;
}
